.hero {
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
}
@media(min-width:54em) {
    .hero {
        min-height: 100vh;
        position: relative;
    }
    .center {
        /* position: absolute; */
        top:0;
        bottom:0;
        left:0;
        right:0;
        display: flex;
        align-items: center;
        
    }
}