.content h1,
.content h2,
.content h3,
.content h4
{
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
    padding-top:1em;
    padding-bottom:.25em;
}
.content h1 {
    font-size: 32px;
    color:var(--base-primary);
}
.content h2 {
    font-size: 24px;
}
.content h3 {
    font-size: 24px;
}
.content a {
    color: var(--base-primary);
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.content p {
    padding-bottom: .5em;
}
.content strong {
    font-weight: bold;
}
.content em, .content i {
    font-style: italic;
}
.content img,
.content picture,
.content figure,
.content video,
.content iframe,
.image {
    padding-top:.5em;
    padding-bottom:.5em;
    margin-left: -1em;
    margin-right: -1em;
    max-width: calc(100% + 2em);

}
@media (min-width:54em) {
    .content img,
    .content picture,
    .content figure,
    .content video,
    .content iframe,
    .image {
        margin-left: -7em;
        margin-right: -7em;
        max-width: calc(100% + 14em);
    }
}

.content ul,
.content ol {
    margin-left:1em;
    padding-bottom: .25em;
    line-height: 1.5;
}
.content ul {
    list-style: square;
}
.content li {
    padding-bottom:.25em;;
}
.content blockquote {
    font-size:1.5em;
    padding-left:1em;
    border-left:3px solid var(--base-primary);
    padding-top:.25em;
    padding-bottom:.25em;
    margin: .5em;
    margin-left:3px;
}