/* CSS Variables including dark mode set to the root element.*/
:root {
  --base-font-size: 17px;

  --base-primary:#FF5100;

  --base-foreground:#000;
  --base-background:#fff;

  --z-basement:-1;
  --z-street: 1;
  --z-house: 10;
  --z-tower: 100;
  --z-skyscraper: 1000;
  --z-clouds: 9998;
  --z-heaven: 9999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-foreground:#fff;
    --base-background:#111;
  }
}

/* Some Stuff that Chakra does not well */
body {
  font-size:var(--base-font-size);
}
::selection {
  background-color: var(--base-primary);
  opacity:1;
  color:#fff;
}

/* Custom Font montserrat-800 - latin. Adds about 19kb of file size once. */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''),
       url('/assets/fonts/montserrat-v15-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/montserrat-v15-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}