/* CSS Variables including dark mode set to the root element.*/
:root {
  --base-font-size: 17px;

  --base-foreground:#000;
  --base-background:#fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-foreground:#fff;
    --base-background:#111;
  }
}

/* Some Stuff that Chakra does not well */
html {
}
body {
  font-size:var(--base-font-size);
}

/* Custom Font montserrat-800 - latin. Adds about 19kb of file size once. */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('/assets/fonts/montserrat-v15-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/montserrat-v15-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}